@use 'sass:map';
$font-stack: 'Helvetica Neue', Arial, sans-serif;

$light-theme: (
  primary: #DFEFCA,
  secondary: #8D818C,
  text: #342E37,
  background: #FFFFFF
);

$dark-theme: (
  primary: #342E37,
  secondary: #8D818C,
  text: #DFEFCA,
  background: #1A1A1A
);

@function theme($key, $theme: light) {
  @if $theme == light {
    @return map.get($light-theme, $key);
  } @else if $theme == dark {
    @return map.get($dark-theme, $key);
  }
}

:root {
  --primary: #{theme(primary, light)};
  --background: #{theme(background, light)};
  --text: #{theme(text, light)};
}

body[data-theme='dark'] {
  --primary: #{theme(primary, dark)};
  --background: #{theme(background, dark)};
  --text: #{theme(text, dark)};
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  background-color: var(--background);
  color: var(--text);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: var(--primary);
  color: var(--text);
  padding: 1.25rem;
  text-align: center;
  position: relative;
  @include flex-center;
  justify-content: flex-start;

  .text {
    max-width: 37.5rem;
    margin: 0;
    text-align: left;
    flex: 1 1 auto;
  }

  h1 {
    font-size: 2.5em;
    margin: 0;
  }

  p {
    font-size: 1.2em;
    margin-top: 0.625em;
  }

  .user-icon {
    position: absolute;
    right: 1.25rem;
    cursor: pointer;
    font-size: 2em;
    transition: all 0.3s ease;

    &:hover {
      color: color-mix(in srgb, var(--background), var(--primary) 10%);
      transform: scale(1.35);
    }
  }
}
